
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin-top: 4em;
}

.logo {
  height: 6em;
  padding: 1.5em;
}

.card {
  padding: 2em;
  color: #d6d3d1;
  border-bottom: solid 1px #d6d3d1;
  display: flex;
  flex-direction: column;
}

.hourly-column {
  width: calc(33.33% - 20px); 
  margin: 2em;
  width: fit-content;
  color: #d6d3d1;
}




