
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
}

.card {
  padding: 2em;
  color: #d6d3d1;
}

/* .card-container {
  height: 300px; 
  overflow: scroll;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.card-container::-webkit-scrollbar {
  width: 0px; 
}

.card-container > div {
  width: calc(80% / 4);
  padding-right: 1rem;
} */

.hourly-column {
  width: calc(33.33% - 20px); 
  margin: 2em;
  width: fit-content;
}




