@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-family: Montserrat;
    line-height: 1.5;
    font-weight: 400;
    background: #07224c;
    background: radial-gradient(#2a8195, #07224c);
  }
  
  a {
    color: #d6d3d1;
    font-size: large;
    font-weight: 400;
    text-decoration: inherit;
    padding: 2em;
  }

  a:hover {
    color: #5eead4;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 1.2em;
    line-height: 1.1;
    color: #5eead4;
  }

  h2 {
    font-size:x-large;
    color: #5eead4;
  }
  
  






